* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  border: 1px solid red;
  width: 100vw;
}

header {
  border: 1px solid red;
  width: 100%;
}

.menu,
.cerrar-menu {
  display: none;
}

.navigation {
  border: 1px solid red;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border: 1px solid red;
}

.navigation-list {
  border: 1px solid red;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation-list-item {
  border: 1px solid red;
  margin: 0 20px;
}

.hero {
  border: 1px solid red;
  height: 250px;
  display: grid;
  place-items: center;
}

.container {
  border: 1px solid red;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border: 1px solid red;
  width: 400px;
}

.container form legend {
  border: 1px solid red;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form label {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px;
}

.container form span {
  margin-bottom: 5px;
}

.container form .terminos {
  text-align: center;
}

@media screen and (max-width: 320px) {
  .menu,
  .cerrar-menu {
    display: block;
    position: absolute;
    right: 15px;
    font-size: 30px;
  }

  .cerrar-menu {
    z-index: 2;
    color: white;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out 0.1s;
  }

  .navigation-list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background: #0e0e0e;
    transform: translateX(110%);
    transition: all 0.5s ease-in-out 0.1s;
  }
}
