@import url('./components/publicaciones.css');

.nueva-publi {
  border: 1px solid red;
  width: 40%;
  height: 125px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
}

.nueva-publi form {
  border: 1px solid red;
  width: 100%;
}

.nueva-publi .div-btn-modal {
  border: 1px solid red;
  width: 100%;
}