/* IMPORTACION DE COMPONENTES */
@import url("./components/navegacion.css");
@import url("./components/sidebar.css");
@import url("./components/cartaPublicacion.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fuentes */
  --montserrat: "Montserrat", sans-serif;
  --nunito: "Nunito", sans-serif;
  /* colores */
  --oscuro: #0a0a09;
  --oscurito: #1a1a1a;
  --azulito: #005ff8;
  --grisecito: #ccc;
}

body {
  width: 100%;
  /* font-family: system-ui; */
  font-family: var(--nunito);
  font-size: 18px;
  display: grid;
  /* grid-template-columns: 100%; */
  /* grid-template-rows: 50px 100%; */
  grid-template-areas:
    "nav"
    "wrapper";
  /* gap: 20px; */
  overflow: hidden;
  background-color: var(--oscurito);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 65px;
  grid-area: nav;
  /* overflow: hidden; */
}

.wrapper {
  /* border: 1px solid red; */
  grid-area: wrapper;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "sideBar contenidoP";
  color: #fafafa;
}