.perfilDatos {
  border: 1px solid red;
  grid-area: contenidoP;
  overflow-y: auto;
  height: calc(100vh - 70px);
}

.perfilDatos::-webkit-scrollbar {
  width: 7px;
}

.perfilDatos::-webkit-scrollbar-thumb {
  background-color: rgb(21, 221, 235);
  border-radius: 5px;
}

.contenedor-portada-perfil {
  border: 1px solid blue;
  height: 250px;
  position: relative;
  margin-bottom: 60px;
  /* overflow: hidden; */
}

.contenedor-portada-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contenedor-portada-perfil .img-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  left: 80px;
  bottom: -50px;
}
