/* INICIO BOTON MODAL */
.div-btn-modal{

    padding: 1em;

}

.div-btn-modal label{

    padding: 0.5em 1em;

    background-color: #76C3FF;

    border: 1px solid #66ACE2;

    border-radius: 0.5em;

    cursor:pointer;

    transition: all 300ms ease;

}

.div-btn-modal label:hover{

    background-color: #66ACE2;

}

#btn-modal:checked ~ .div-contenedor-modal{

    display: flex;

}
/* FINAL BOTON MODAL */




















/* INICIO VENTANA MODAL */
#btn-modal{

    display: none;

}

.div-contenedor-modal{

    width: 100%;

    height: 100vh;

    position: fixed;

    top: 0;

    left: 0;

    background-color: rgba(144, 148, 150, 0.8);

    display: none;

    justify-content: center;

    align-items: center;

    z-index: 100;

}

.div-contenido-modal{

    width: 100%;

    max-width: 30em;

    padding: 2em;

    background-color: #fff;

    border-radius: 0.3em;

}

.div-contenido-modal h2{

    margin-bottom: 1em;

}

.div-contenido-modal form{

    padding: 1em;

    border-top: 1px solid #dbdbdb;

    border-bottom: 1px solid #dbdbdb;

}

.div-contenido-modal label span{

    margin: 0.6em 0 0.3em 0;

    display:block;

}

.div-contenido-modal label input, .div-contenido-modal label select{

    width: 100%;

    padding: 0.8em;

    outline: none;

    border: 1px solid #eee;

    border-radius: 0.3em;

}

.div-contenido-modal label select{

    appearance: none;

    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    
    background-repeat: no-repeat, repeat;
    
    background-position: right .7em top 50%, 0 0;
    
    background-size: .65em auto, 100%;

    cursor: pointer;

}

.div-contenido-modal .div-btn-modal{

    display: flex;

    justify-content: flex-end;

}

.div-btn-modal .btn-cancelar{

    margin-right: 1em;

    background-color: #eaeaea;

    border: 1px solid #d0d0d0;

}

.div-btn-modal .btn-cancelar:hover{

    background-color: #d0d0d0;

}

.cerrar-modal-fondo{

    width: 100%;

    height: 100vh;

    position: absolute;

    top: 0;

    left: 0;

    z-index: -1;

}
/* FINAL VENTANA MODAL */