/* NAVEGACION */

.navegacion {
  border: 1px solid blue;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* border: 1px solid red; */
  position: absolute;
  left: 20px;
  font-size: 25px;
}

.buscador {
  border: 1px solid red;
  margin: auto;
  width: 200px;
}

.nav-lista {
  /* border: 1px solid black; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 20px;
}

.nav-lista-item {
  height: 24px;
}

.nav-lista-item.item-perfil a img {
  border: 2px solid transparent;
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

.nav-lista-item.item-perfil a img:hover {
  border: 2px solid blue;
  transition: .3s all ease-in-out;
}

/* MENU TRES PUNTITOS */

.nav-lista .lista-menu {
  border: 1px solid red;
  display: none;
  width: 200px;
  position: absolute;
  top: 55px;
  right: 20px;
  border-radius: 10px;
}