.publicaciones {
  /* border: 1px solid red; */
  grid-area: contenidoP;
  padding: 20px 0;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 70px);
  margin-left: 15px;
}

.publicaciones::-webkit-scrollbar {
  width: 7px;
}

.publicaciones::-webkit-scrollbar-thumb {
  background-color: rgb(21, 221, 235);
  border-radius: 5px;
}

.publicaciones main {
  /* border: 1px solid red; */
  width: 95%;
  margin: 20px auto 0 auto;
}