.sidebar {
  /* border: 1px solid blue; */
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: calc(100vh - 50px);
  grid-area: sideBar;
  padding: 10px;
  background-color: rgb(233, 189, 12);
}

.sidebar-lista {
  /* border: 1px solid red; */
  margin: auto;
  height: 90%;
  padding: 10px;

}

.sidebar-lista-item {
  margin: 20% 0;
  position: relative;
}

.sidebar-lista-item a {
  color: #1a1a1a;
  letter-spacing: 1px;
  font-weight: 500;
  position: relative;
}

.sidebar-lista-item a:hover {
  border-bottom: 2px solid #1a1a1a;
}