.sidebar {
  border: 1px solid blue;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: calc(100vh - 50px);
  grid-area: sideBar;
  padding: 10px;
}

.sidebar-lista {
  border: 1px solid red;
  height: 100%;
}